@model Shop.Models.Product

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .content {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .content-div {
        flex-wrap: wrap;
        max-height:400px;
        width: 40%;
        min-width:15%;
        border: 1px solid black;
    }

    dd {
        font-family: Arial;
        font-size: 24px;
        margin: 15px;
    }
    .buyButton {
        width: 45%;
        height: 60px;
        line-height: 50px;
        text-align: center;
        font-family: Arial;
        font-size: 30px;
        background-color: #ffc107;
        border-radius:60px;
    }
</style>
<div class="content">
    <div class="content-div">
        <img @*style="border: 1px solid lightgrey"*@ src="@Url.Content(Model.ImagePro.ToString())" height="400" width="450" />
    </div>
    <div class="content-div">
        <dl>
            <dd style="font-weight:bold">
                @Html.DisplayFor(model => model.NamePro)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Price)đ
            </dd>

            <dd>
                Thương hiệu: @Html.DisplayFor(model => model.Category1.NameCate)
            </dd>
            <dd>Size: @Html.DisplayFor(model => model.Size)</dd>
            <dd>
                @*<a href="/ShoppingCart/AddToCart/model.Pro" class="btn btn-success">Buy</a>*@
                @Html.ActionLink("Mua", "AddToCart", "ShoppingCart", new { id = Model.ProductID }, new { @class = "btn btn-success buyButton" })
                @Html.ActionLink("Thêm vào giỏ hàng", "themGioHang", "ShoppingCart", new { id = Model.ProductID }, new { @class = "btn btn-success buyButton" })
            </dd>
        </dl>
    </div>
</div>
<h2>Mô tả</h2>
<p style="font-family:Arial; border:1px solid lightgrey; height:fit-content; width:80%; font-size:20px">
    @Html.DisplayFor(model => model.DecriptionPro)
</p>

