@model IEnumerable<Shop.Models.Product>

@{
    ViewBag.Title = "xemTatCa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .card-pro {
        border: 1px solid lightgrey;
        padding: 5px 15px;
        margin: 5px;
        width: fit-content;
        border-radius: 10px;
    }

        .card-pro:hover {
            opacity: 0.9;
            border: 1px solid black;
            box-shadow: 0 0 10px black;
        }

    .whole-card :hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

    h2 {
        text-align: center;
    }

    .product-img img {
        width: 150px;
        height: 150px;
        background-color: rgba(160, 171, 149, 0.2);
    }

    .MenuPage li {
        display: inline;
    }
</style>
<h2>@ViewBag.Category</h2>
<div class="container">
    <div class="row">
        @foreach (var pro in Model)
        {

            <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-pro">
                    <div class="product-img">
                        <a href="@Url.Action("ProductDetail",new {id=pro.ProductID})">
                            <img src="@Url.Content(pro.ImagePro)" />
                        </a>
                    </div>
                    <p>@Html.DisplayFor(model => pro.NamePro)</p>
                    <p>@Html.DisplayFor(model => pro.Price)</p>
                    <a href="/ShoppingCart/AddToCart/@pro.ProductID" class="btn btn-success">Buy</a>
                    <a href="/ShoppingCart/ShowCart/@pro.ProductID" class="btn btn-default">Giỏ hàng</a>
                </div>
            </div>
        }
    </div>
</div>



